[submodule "external/neoscript-vsix"]
	path = external/neoscript-vsix
	url = https://github.com/obhi-d/neoscript-vsix.git
[submodule "external/neoscript-tmlang"]
	path = external/neoscript-tmlang
	url = https://github.com/obhi-d/neoscript-tmlang.git
